@import url(https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono);
@import url(https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono);
@import url(https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono);
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 25px;
  height: 25px;
  left: 14px;
  top: 14px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  padding: 4.5em 0.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: white;
  margin: 2px;
  padding-top: inherit;
  text-decoration: none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.Header {
  justify-content: center;
  height: 50px;
  width: 100%;
  font-family: "Share Tech Mono", monospace;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(45deg, #68B2A0 90%, #CDE0C9 30%);
  cursor: pointer;
}
.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 5px 0;
  background: #68B2A0;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 22px;
  color: #ffffff;
  box-shadow: 0px -2px 15px rgba(50, 50, 50, 0.45);
}
.NavBar a {
  color: inherit;
  text-decoration: none;
}
.NavBar .active {
  color: "blue";
}
.NavButton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
.NavButton .Icon {
  font-size: 23px;
}
.NavButton .Label {
  font-size: 15px;
  text-transform: capitalize;
}
.Layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.Layout .Content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  background: #2a3747;
  color: #fff;
  font-family: "Merriweather Sans", sans-serif;
}
.Layout .Content a {
  color: inherit;
}
* {
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=styles.chunk.css.map*/